.App {
  margin:auto;
}

/*LOGIN PAGE*/
.login{
  position:relative;
  background: linear-gradient(0deg, rgba(255, 255, 230, 1) 0%,rgba(255, 242, 228, 1) 0%,rgba(255, 189, 222, 1) 25%, rgba(255, 189, 222, 1) 40%,rgba(190, 90, 195, 1),rgba(155, 61, 183, 1) 100%, rgba(142, 50, 179, 1) 90%);
  width:100vw;
  height:100vh;
  margin:auto;

}
.build{
  position:absolute;
  bottom: 0;
  object-fit:cover;
  height: max-content;

}
.back1{
  position:absolute;
  margin-top:190px;
}
.back2{
  position:absolute;
  margin-top:30px;

}
.back3{
  position:absolute;
  margin-top:100px;

}
.loginbox{
  position:absolute;
  margin-top:200px;
  margin-left:400px;
}
.logincontent{
  position:absolute;
  margin-top:220px;
  margin-left:420px;
  width: 590px;
  height: 320px;
  padding:20px;
 
  display: flex;
  flex-direction: column;
  font-family: Joystix;
  font-size: 20px;
  font-weight: 660;
  line-height: 36px;
  letter-spacing: 0.1em;
  text-align: left;

}
.log{
  font-family: Joystix;
  font-size: 55px;
  font-weight: 700;
  line-height: 90px;
  letter-spacing: 0.04em;
  text-align: center;

}
input{
  background: rgba(234, 235, 255, 1);
  border-radius: 10px;
  border-width:0px;
  border-color:rgba(234, 235, 255, 1);
  height:60px;
  text-align: center;
}
.enter{
  margin-top:30px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.enterbutton{
  position:absolute;
  margin-top:0px;
  display: flex;
  align-items: center;
  justify-content: center;
  

}
button{
 width:90px;
 height:38px;
 color:rgba(26, 30, 81, 1);
 background:rgba(133, 157, 218, 1);
 border-color: rgba(133, 157, 218, 1);
 box-shadow: rgba(133, 157, 218, 1);
 border-bottom: rgba(133, 157, 218, 1);
 border-right: rgba(133, 157, 218, 1);
 font-weight: 400;
}
.rcb{
  position:absolute;
  margin-top:30px;
 margin-left:575px;
}
.spaceship{
  position:absolute;
  margin-top:185px;
  margin-left:330px;
}
/*Topics*/
.container{
  position:relative;
  height: 100vh;
  width: 100vw;
  position:relative;
  background: linear-gradient(0deg, rgba(255, 255, 230, 1) 0%,rgba(255, 242, 228, 1) 0%,rgba(255, 189, 222, 1) 25%, rgba(255, 189, 222, 1) 40%,rgba(190, 90, 195, 1),rgba(155, 61, 183, 1) 100%, rgba(142, 50, 179, 1) 90%);


}

.navbar{
 
  display: flex;

}
.menu{
  position:absolute;
  font-size: x-large;
  margin-left: 20px;
  color: #FFFFFF;
}
.open{
  
  margin-left: 510px;
  color: #FEB0DC;
  font-size: 50px;
}
.content1{
  width:950px;
  height: 80px;
  background-color: #C8CCFF;
  display: flex;
  margin: auto;
  border-radius: 20px;
  font-size: 25px;
}
.heading1{
  margin-left: 22px;
  margin-top: 18px;
  color: #1A1E51;
}
.button1{
  width: 120px;
  font-size: larger;
  font: bold;
  border-radius: 20px;
  height: 42px;
  margin-top: 22px;
  margin-left: 670px;
  background-color: #6169d5;
  cursor: pointer;
  color:#1A1E51;
}
.content2{
  width:950px;
  height: 80px;
  background-color: #C8CCFF;
  display: flex;
  margin: auto;
  border-radius: 20px;
  font-size: 25px;
  margin-top: 25px;
  color: #1A1E51;
}
.heading2{
  margin-left: 22px;
  margin-top: 18px;
  
}
.button2{
  width: 120px;
  font-size: larger;
  font: bold;
  border-radius: 20px;
  height: 42px;
  margin-top: 22px;
  margin-left: 630px;
  background-color: #6169d5;
  cursor: pointer;
}
.content3{
  width:950px;
  height: 80px;
  background-color: #C8CCFF;
  display: flex;
  margin: auto;
  border-radius: 20px;
  font-size: 25px;
  margin-top: 25px;
  color: #1A1E51;
}
.heading3{
  margin-left: 22px;
  margin-top: 18px;
}
.button3{
  width: 120px;
  font-size: larger;
  font: bold;
  border-radius: 20px;
  height: 42px;
  margin-top: 22px;
  margin-left: 620px;
  background-color: #6169d5;
  cursor: pointer;
}
.astro{
  position: absolute;
  left: 1220px;
  top: 335px;
  z-index: 2;
}
.land{
 margin-top: 80px;
 position: relative;
 z-index: 1;
}


